In [3]:
!pip install emoji

Requirement already satisfied: emoji in /opt/conda/lib/python3.7/site-packages (2.4.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

In [4]:
import requests
import datetime
import json
import pandas as pd
import numpy as np

import boto3
import json

import re
import emoji

#### Downloading tweets (BTC)

In [5]:
# Setting starttime
st = "2023-06-01T00:00:00.000"

In [6]:
datetime.datetime.now() - datetime.timedelta(days=7)

datetime.datetime(2023, 5, 31, 14, 40, 50, 61273)

In [7]:
# Creating timestamps to scrape tweets
times = [[(datetime.datetime.fromisoformat(st) + datetime.timedelta(hours = i)).isoformat() + "Z", (datetime.datetime.fromisoformat(st) + datetime.timedelta(hours = i + 1)).isoformat() + "Z"] for i in range(168)]

In [8]:
# Getting start times
times_a = [item[0] for item in times]

### Following cells need to be run 15 minutes apart due to API limitations

In [9]:
# Limited to 60 requests/15 mins, so have to split up.
output_a = []
for time in times[:60]:
    url = f"https://api.twitter.com/2/tweets/search/recent?query=%23shibainucoin %23shib &start_time={time[0]}&end_time={time[1]}"

    payload = {}
    headers = {
      'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAAGhAnAEAAAAA0ee%2BzbpGwU8ehAS58F1DlwMLBUw%3DXC1LCHM1H0U1iSr1mwR3p5iqiTXgcKiYO54eOj9TCu7JDomymp',
      'Cookie': 'guest_id=v1%3A168501186051198152'
    }

    response = requests.request("GET", url, headers=headers, data=payload)
    output_a.append(response)

In [10]:
output_b = []
for time in times[60:120]:
    url = f"https://api.twitter.com/2/tweets/search/recent?query=%23ETH %23Ethereum&start_time={time[0]}&end_time={time[1]}"

    payload = {}
    headers = {
      'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAAGhAnAEAAAAA0ee%2BzbpGwU8ehAS58F1DlwMLBUw%3DXC1LCHM1H0U1iSr1mwR3p5iqiTXgcKiYO54eOj9TCu7JDomymp',
      'Cookie': 'guest_id=v1%3A168501186051198152'
    }

    response = requests.request("GET", url, headers=headers, data=payload)
    output_b.append(response)

In [11]:
output_c = []
for time in times[120:]:
    url = f"https://api.twitter.com/2/tweets/search/recent?query=%23ETH %23Ethereum&start_time={time[0]}&end_time={time[1]}"

    payload = {}
    headers = {
      'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAAGhAnAEAAAAA0ee%2BzbpGwU8ehAS58F1DlwMLBUw%3DXC1LCHM1H0U1iSr1mwR3p5iqiTXgcKiYO54eOj9TCu7JDomymp',
      'Cookie': 'guest_id=v1%3A168501186051198152'
    }

    response = requests.request("GET", url, headers=headers, data=payload)
    output_c.append(response)

In [15]:
output_c[-10].text

'{"data":[{"edit_history_tweet_ids":["1666459994231898119"],"id":"1666459994231898119","text":"RT @ZekeYeager112: @TKralow If you have a dream for a project, but need some help, make it a reality by hitting up \\n@Orange_BSC \\nSurely it\'…"},{"edit_history_tweet_ids":["1666459981175042050"],"id":"1666459981175042050","text":"RT @MikeSmith285685: @cryptojack There is something extra bullish about Orange and everyone knows this. We takeover soon @Orange_BSC \\n\\n#mem…"},{"edit_history_tweet_ids":["1666459953886896129"],"id":"1666459953886896129","text":"RT @Utoday_en: #Shiba Inu (SHIB), #Bitcoin (BTC), #Ethereum (ETH) to find greater utility in Europe via this integration #SHIB #BTC #ETH\\nht…"},{"edit_history_tweet_ids":["1666459934836375557"],"id":"1666459934836375557","text":"RT @OlafTokenBSC: #Olafians 2 hours to go until the #OlafToken #Ethereum fair launch\\n\\nOlaf Token will be a name known by all in #Crypto, Ol…"},{"edit_history_tweet_ids":["1666459932470722564"],"id":"1666459932470722564","text":"RT @MikeSmith285685: @cryptojack There is something extra bullish about Orange and everyone knows this. We takeover soon @Orange_BSC \\n\\n#mem…"},{"edit_history_tweet_ids":["1666459898308182016"],"id":"1666459898308182016","text":"RT @Scrapper321: @Bullrun_Gravano @blockremit There is something extra bullish about Orange and everyone knows this. We takeover soon @Oran…"},{"edit_history_tweet_ids":["1666459874270609411"],"id":"1666459874270609411","text":"RT @tobi_kagey90036: @EricCryptoman There is something extra bullish about Orange and everyone knows this. We takeover soon @Orange_BSC \\n\\n#…"},{"edit_history_tweet_ids":["1666459784390799362"],"id":"1666459784390799362","text":"BNPL Stock Affirm Rises 15% On Amazon Pay Partnership\\n\\nhttps://t.co/hy9PG5JGuT\\n\\n#amazon #creditsuisse #bitcoin #ethereum #consumerconfidence #btc #eth #usagency #broadband #nasdaq #nvidia #stocks #stockmarket #usstocks #stocks #debt #crypto #cryptocurrency #cryptonews #dollar"},{"edit_history_tweet_ids":["1666459765055078400"],"id":"1666459765055078400","text":"@cryptojack There is something extra bullish about Orange and everyone knows this. We takeover soon @Orange_BSC \\n\\n#memecoins #orange #bscgem #BSC #ethereum #eth #Trending #cryptocurrency #Finance https://t.co/gEKpxwqKPI"},{"edit_history_tweet_ids":["1666459659782311936"],"id":"1666459659782311936","text":"RT @LuanBiagioniDev: Twitter: @mergex_official\\nTelegram: @mergexofficial\\nFairlaunch: https://t.co/OdkN6595lw\\n\\n#Bep20 #Tokens #PancakeSwap #…"}],"meta":{"newest_id":"1666459994231898119","oldest_id":"1666459659782311936","result_count":10,"next_token":"b26v89c19zqg8o3fqkj0qx61neafhbsymjaf56e6bmkxp"}}'

In [18]:
output_c[:-8][-1].text

'{"errors":[{"parameters":{"end_time":["2023-06-07T16:00Z"]},"message":"Invalid \'end_time\':\'2023-06-07T16:00Z\'. \'end_time\' must be a minimum of 10 seconds prior to the request time."}],"title":"Invalid Request","detail":"One or more parameters to your request was invalid.","type":"https://api.twitter.com/2/problems/invalid-request"}'

In [27]:
output_final[5].text

'{"data":[{"edit_history_tweet_ids":["1664144106203824128"],"id":"1664144106203824128","text":"RT @hardbitspace: Retweet this entry.  Collect 100 retweets and a new BONUSCODE\\uD83C\\uDF81.\\n#Bitcoin\xa0\xa0\xa0\xa0  #Binance\xa0\xa0\xa0\xa0  #Airdrop #Airdrops #BTC\xa0\xa0\xa0\xa0…"}],"meta":{"newest_id":"1664144106203824128","oldest_id":"1664144106203824128","result_count":1}}'

In [19]:
output_final = output_a + output_b + output_c[:-9]

In [28]:
# Create dataframe
# 5th is first tweet search with data
df_final = pd.DataFrame(np.array([item['text'] for item in json.loads(output_final[5].text)['data']]), columns = ['text'])
df_final['timestamp'] = times_a[0]

for i in range(1,len(output_final)):
    try:
        df_temp = pd.DataFrame(np.array([item['text'] for item in json.loads(output_final[i].text)['data']]), columns = ['text'])
        df_temp['timestamp'] = times_a[i]

        df_final = df_final.append(df_temp, ignore_index=True)
    except Exception:
        pass

In [29]:
df_final['year'] = df_final['timestamp'].apply(lambda x: pd.to_datetime(x[:-1]).year)
df_final['month'] = df_final['timestamp'].apply(lambda x: pd.to_datetime(x[:-1]).month)
df_final['day'] = df_final['timestamp'].apply(lambda x: pd.to_datetime(x[:-1]).day)
df_final['day_of_week'] = df_final['timestamp'].apply(lambda x: pd.to_datetime(x[:-1]).dayofweek)

In [30]:
df_final.head()

,text,timestamp,year,month,day,day_of_week
0,RT @hardbitspace: Retweet this entry. Collect...,2023-06-01T00:00:00Z,2023,6,1,3
1,RT @hardbitspace: Retweet this entry. Collect...,2023-06-01T05:00:00Z,2023,6,1,3
2,RT @cryptotommy88: Ready for the new wave in #...,2023-06-03T12:00:00Z,2023,6,3,5
3,"I just claimed my $SEA airdrop for free, Guys ...",2023-06-03T12:00:00Z,2023,6,3,5
4,Don't miss this one like you missed $LOYAL $PS...,2023-06-03T12:00:00Z,2023,6,3,5

In [31]:
# Cleaning Tweets

In [32]:
df_final['text'][4]

"Don't miss this one like you missed $LOYAL $PSYOP $SEA $BOB $ETH $BEN $ORANGE $LOYAL $OPENSEA $BTC #pulsechain Bitcoin #pepecoin #pepearmy #eth #ethereum #memecoin #psyop crypto #defi Uniswap #airdrop #binance #SEA #BRC20 Doge https://t.co/1f2vgOyHQE"

In [33]:
def clean_tweet(word):
    word = emoji.demojize(word)
    word = re.sub('\n', '', word)
    word = re.compile('RT @').sub('@', word, count=1)
    word = re.sub("@[A-Za-z0-9_]+","", word)
    word = re.sub("#[A-Za-z0-9_]+","", word)
    word = re.sub(r'http\S+', '', word)
    word = word.lower()
    word = re.sub("[^a-z0-9]"," ", word)
    word = re.sub("\s+", " ", word)
    return word

In [34]:
df_final['text'] = df_final['text'].apply(lambda x: clean_tweet(x))

In [35]:
df_final.head()

,text,timestamp,year,month,day,day_of_week
0,retweet this entry collect 100 retweets and a...,2023-06-01T00:00:00Z,2023,6,1,3
1,retweet this entry collect 100 retweets and a...,2023-06-01T05:00:00Z,2023,6,1,3
2,ready for the new wave in fire is here dog fa...,2023-06-03T12:00:00Z,2023,6,3,5
3,i just claimed my sea airdrop for free guys go...,2023-06-03T12:00:00Z,2023,6,3,5
4,don t miss this one like you missed loyal psyo...,2023-06-03T12:00:00Z,2023,6,3,5

In [36]:
# Get Amazon Comprehend Sentiment of tweets

In [37]:
comprehend = boto3.client(service_name='comprehend', region_name='eu-west-1')

In [38]:
comprehend.detect_dominant_language(Text=df_final['text'][0])['Languages'][0]['LanguageCode']

'en'

In [39]:
def sent(x):
    try:
        return comprehend.detect_sentiment(Text=x, LanguageCode=comprehend.detect_dominant_language(Text=x)['Languages'][0]['LanguageCode'])['Sentiment']
    except Exception:
        return "n/a"

In [40]:
df_final['sentiment'] = df_final['text'].apply(lambda x: sent(x))

In [41]:
cols = ['year', 'month', 'day', 'day_of_week', 'text', 'timestamp', 'sentiment']
df_final = df_final[cols]

In [35]:
# Saving dataframe

In [36]:
df_final.to_csv("ETH_tweets_cleaned.csv", sep=',', index=False)